## 1) Input and output files

In [21]:
#open coordinates of molecules as .csv

#I converted the .dat file to readable .csv file

import pandas as pd



input_file = pd.read_csv("coordinates-resid9.csv")




import csv


output_file = "coordinates-resid9_output.csv"

input_file  #open csv file

# mol_coordinates = []
# with open("coordinates-resid9.csv", 'r') as csvfile:
#     csvreader = csv.reader(csvfile)
#     for row in csvreader:
#         X,Y,Z = map(float, row)
#         coordinates.append([X,Y,Z])

        X      Y       Z
0  -1.908 -1.475  -9.137
1  -2.665 -1.579 -10.404
2  -0.802 -2.443  -8.959
3  -1.349  0.015  -8.963
4  -2.197  1.013  -8.364
5  -1.404  1.838  -7.371
6  -1.403  1.252  -6.038
7   0.079  2.022  -7.694
8   0.474  3.333  -7.309
9   0.799  1.015  -6.797
10 -0.066  1.231  -5.559
11  0.047  0.150  -4.546
12 -0.045  0.513  -3.217
13 -0.212  1.665  -2.857
14  0.066 -0.526  -2.326
15  0.254 -1.860  -2.624
16  0.334 -2.680  -1.707
17  0.339 -2.154  -4.021
18  0.234 -1.163  -4.914

## 2) Change coordinates so base flips

In [22]:
import pandas as pd

def flip_molecule_axis(input_file, output_file):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(input_file)
    
    # Flip the X Y and Z-coordinates by negating them
    df['X'] = -df['X']
    df['Y'] = -df['Y']
    df['Z'] = -df['Z']
    
    # Write the modified DataFrame back to a new CSV file
    df.to_csv(output_file, index=False)

# Usage example
input_file = "coordinates-resid9.csv"
output_file = "coordinates-resid9_output.csv"
flip_molecule_axis(input_file, output_file)

## 3) Open New File - Base Flip

In [24]:
open_new = pd.read_csv(output_file)

open_new

        X      Y       Z
0   1.908  1.475   9.137
1   2.665  1.579  10.404
2   0.802  2.443   8.959
3   1.349 -0.015   8.963
4   2.197 -1.013   8.364
5   1.404 -1.838   7.371
6   1.403 -1.252   6.038
7  -0.079 -2.022   7.694
8  -0.474 -3.333   7.309
9  -0.799 -1.015   6.797
10  0.066 -1.231   5.559
11 -0.047 -0.150   4.546
12  0.045 -0.513   3.217
13  0.212 -1.665   2.857
14 -0.066  0.526   2.326
15 -0.254  1.860   2.624
16 -0.334  2.680   1.707
17 -0.339  2.154   4.021
18 -0.234  1.163   4.914

## 4) .csv to .dat

In [31]:
new_dat = "coordinates-resid9_output.dat"
new_csv = "coordinates-resid9_output.csv"

my_new_csv = pd.read_csv(new_csv)
my_new_csv.to_csv(new_dat, index=False)

#check if .dat table is good
open_new_dat = pd.read_csv(new_dat)

open_new_dat

        X      Y       Z
0   1.908  1.475   9.137
1   2.665  1.579  10.404
2   0.802  2.443   8.959
3   1.349 -0.015   8.963
4   2.197 -1.013   8.364
5   1.404 -1.838   7.371
6   1.403 -1.252   6.038
7  -0.079 -2.022   7.694
8  -0.474 -3.333   7.309
9  -0.799 -1.015   6.797
10  0.066 -1.231   5.559
11 -0.047 -0.150   4.546
12  0.045 -0.513   3.217
13  0.212 -1.665   2.857
14 -0.066  0.526   2.326
15 -0.254  1.860   2.624
16 -0.334  2.680   1.707
17 -0.339  2.154   4.021
18 -0.234  1.163   4.914

### Notes:

* I would need the vector using coordinates of O2P and O3' to properly flip all atoms over that specific axis